h1 {
    text-align: center;
}
.data {
    width: 90%; 
    margin: 10px auto; 
    background: #adadad; 
    padding: 8px;
    border-radius: 8px;
}

#dataContainerMotion {
    font-size: 1.5em;
}

#garden{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.ball {
    position: absolute;
    top: 100xp;
    left: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #A93226;
    text-align: center;
    line-height: 100px;
    color: white;
}


